/config.ru
/unicorn.rb
/unicorn.pid
/config/config.yml
/config/mongoid.yml
/config/services.yml
/vendor/gems
/.bundle
/public/sitemap
/public/assets/*/*.gz
/config/cron/*
/shared/cron/*
/shared/cron/check/billits.last
/shared/cron/delivery/email_immediate.last

/tmp
/REVISION
/TODO*
/todo*
/log

*.kate-swp
.DS_Store
*.pyc

/stats.rb
/dump
/migration.rb
/*.txt
