<hr style="margin-top: 30px"/>

<p>
  	<%= email_remove("/interest/delete/", interest['_id'], interest['user_id']) %>
    or <a href="<%= email_url "/account/unsubscribe" %>">from all notifications</a>.
</p>