<hr style="margin-top: 30px"/>

<p>
  <a href="<%= email_url "/account/subscriptions" %>">Manage your subscriptions</a> on the web, or <a href="<%= email_url "/account/unsubscribe" %>">unsubscribe from all emails</a>.
</p>